.order_list{
  background-color: yellow;
}
.order_list li:nth-of-type(even){
  color:green
}
.order_list li:nth-of-type(odd){
  text-transform: uppercase;
}
.header{
  color:tomato;
}
.header em{
  font-size: 40px;
  border: 1px solid black;
}
li{
  font-size: 20px;
}
li em{
  font-weight: 700;
}
.aliados{

}
.aliados li:nth-of-type(1){
  
}
.linguagens{
  color:black;
}
.linguagens li:nth-of-type(1){
  color:blue
}